@charset "UTF-8";

/* Убираем внешние отступы */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul,
ol {
  list-style: none;
}

/* Элементы a, у которых есть класс, сбрасываем */

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "PT Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-bg);
  color: var(--color-white);
}

main {
  z-index: 1;
}

:root {
  --color-dark: #1c1c1c;
  --color-bg: #303030;
  --color-white: #f7f7f7;
  --color-active: #ff3004;
  --color-section: #3d3d3d;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

picture {
  font-size: 0;
}

.tag {
  border: 1px solid var(--color-active);
  padding: 6px 10px;
  text-transform: uppercase;
  border-radius: 2px;
}

.like {
  width: 28px;
  height: 24px;
}

.like__active path {
  fill: var(--color-active);
}

.header {
  z-index: 100;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: var(--color-dark);
}

.header__search {
  position: absolute;
  top: -1px;
  left: 0;
  width: 167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--color-white);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  background-color: var(--color-dark);
  z-index: 1;
  overflow: hidden;
}

.header__search-input {
  padding: 20px 30px 20px 0;
  font-size: 18px;
  background: none;
  color: var(--color-white);
  width: 300px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__search-input::-webkit-input-placeholder {
  color: var(--color-white);
}

.header__search-input::-moz-placeholder {
  color: var(--color-white);
}

.header__search-input:-ms-input-placeholder {
  color: var(--color-white);
}

.header__search-input::-ms-input-placeholder {
  color: var(--color-white);
}

.header__search-input::placeholder {
  color: var(--color-white);
}

.header__search-icon {
  width: 20px;
  height: 20px;
  margin: 23px 20px;
}

.header__search-btn {
  display: none;
  background: #f7f7f7;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 54px;
  margin-right: 3px;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  font-size: 0;
}

.header__logo-mobile {
  display: none;
}

.header__menu-top {
  position: absolute;
  top: -1px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 30px;
  width: 167px;
  border: 1px solid var(--color-white);
}

.header__menu {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 16px;
}

.header__menu-link {
  position: relative;
  padding: 2px 0 5px;
}

.header__menu-link:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 2px;
  left: 0;
}

.header__menu-link:hover:after {
  background-color: var(--color-active);
}

.active__search {
  width: 100%;
}

.active__search input {
  width: 100%;
}

.active__search .header__search-btn {
  display: block;
}

.favorite {
  width: 17px;
  height: 17px;
}

.formpopup__logo {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto 40px;
}

.formpopup__logo img {
  width: 353px;
  height: auto;
}

.formpopup__header {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ff3004;
  margin-bottom: 30px;
  color: #919191;
}

.formpopup__sing-link {
  margin-right: 20px;
}

.formpopup__active-link {
  color: #f7f7f7;
  border-bottom: 1px solid #ff3004;
}

.display-form {
  z-index: 100;
  position: absolute;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lock {
  overflow: hidden;
}

.display-form__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-gray);
}

.display-form.show {
  top: 0;
}

.login-page {
  width: 390px;
  margin: auto;
}

.formpopup {
  position: relative;
  z-index: 1;
  width: 500px;
  background: #1c1c1c;
  border: 2px solid #ff3004;
  padding: 40px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.formpopup input {
  outline: 0;
  width: 100%;
  margin: 10px 0 20px;
  padding: 9px 10px;
  font-size: 18px;
  background: #f7f7f7;
  border: 2px solid #919191;
}

.formpopup input[type="button"] {
  color: #f7f7f7;
  outline: 0;
  width: auto;
  padding: 9px 20px;
  border: 2px solid #ff3004;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background: none;
  display: block;
  margin: 0 auto;
}

.formpopup .register-form {
  display: none;
}

.preview {
  min-height: calc(100vh - 122px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}

.preview__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#303030)), -webkit-gradient(linear, left top, right top, color-stop(0.55%, #000000), color-stop(49.83%, rgba(0, 0, 0, 0)), color-stop(99.61%, #000000)), url(../img/preview.jpg) center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #303030 100%), -o-linear-gradient(left, #000000 0.55%, rgba(0, 0, 0, 0) 49.83%, #000000 99.61%), url(../img/preview.jpg) center/cover no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #303030 100%), linear-gradient(90deg, #000000 0.55%, rgba(0, 0, 0, 0) 49.83%, #000000 99.61%), url(../img/preview.jpg) center/cover no-repeat;
}

.preview__container {
  width: 100%;
}

.preview__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.preview__search-icon {
  position: absolute;
  top: 17px;
  left: 20px;
}

.preview__search-icon path {
  fill: #303030;
}

.preview__search-input {
  background: #f7f7f7;
  padding: 13px 10px 13px 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-right: 3px;
}

.preview__input-container {
  background: #919191;
  position: relative;
  max-width: 715px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  margin-bottom: 30px;
}

.preview__select {
  background: #f7f7f7;
  text-transform: uppercase;
  padding: 13px 40px 13px 20px;
}

.preview__select option:hover {
  background-color: #919191;
}

.preview__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__tags-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 20px;
}

.preview__tag {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 20px;
}

.index-numbers__container {
  position: relative;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-numbers__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.index-numbers__number {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.3em;
}

.index-numbers__title {
  text-transform: uppercase;
}

.trend {
  padding: 100px 0;
}

.section__title {
  background: var(--color-dark);
  border: 1px solid var(--color-white);
  min-width: 500px;
  padding: 15px 20px;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.why {
  padding: 100px 0;
}

.why__content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.why__item-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-active);
  margin-bottom: 10px;
}

.why__item-description {
  font-size: 14px;
  color: #919191;
  margin-bottom: 10px;
}

.why__item-img {
  position: relative;
  padding: 45px 0 20px 90px;
}

.why__item-img:after,
.why__item-img:before {
  content: "";
  position: absolute;
}

.why__item-img:after {
  width: 100%;
  height: 80px;
  z-index: -1;
  background: #ff3004;
  bottom: 0;
  left: 0;
}

.why__item-img:before {
  top: 0;
  left: 45px;
  width: 100px;
  height: 100px;
  border: 2px solid #ff3004;
}

.why-img {
  width: 240px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.who {
  padding: 100px 0;
  overflow: hidden;
}

.who__item {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-active);
  position: relative;
  margin: 0 -10px;
}

.who__item:nth-child(even) {
  bottom: -30px;
  z-index: 1;
}

.who__img {
  display: block;
  margin-bottom: 10px;
  border: 2px solid #ff3004;
  height: 500px;
  width: auto;
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.js-marquee-wrapper {
  height: 571px;
}

.features {
  padding-top: 130px;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.features__section-title {
  font-size: 24px;
  font-weight: 700;
  background-color: var(--color-active);
  padding: 2px 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.features__item {
  margin-bottom: 20px;
}

.features__item-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.features__item-description {
  color: #919191;
  padding: 0 20px;
}

.banner {
  background: center/cover no-repeat url(../img/banner.jpg);
  position: relative;
}

.banner:after,
.banner:before {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.banner:before {
  left: 0;
  background-color: #fff;
}

.banner:after {
  right: 0;
  background-color: #9e9e9e;
}

.banner__container {
  padding: 300px 0 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner__form {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__form-input {
  padding: 12px 20px;
  width: calc(100% - 125px);
}

.banner__form-submit {
  background: none;
  border: 1px solid var(--color-dark);
  padding: 12px 20px;
}

.banner__form-submit:hover {
  border-color: var(--color-active);
  background-color: var(--color-active);
  color: var(--color-white);
}

.faq {
  padding: 100px 0;
}

.faq__questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.question.question__active .question__title-icon {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.question.question__active .question__answer {
  border: 1px solid #919191;
  max-height: 100%;
  padding: 20px;
}

.question__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--color-dark);
  border: 1px solid #919191;
  padding: 10px 20px;
  position: relative;
}

.question__title-icon {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 17px;
  right: 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.question__answer {
  background-color: var(--color-section);
  letter-spacing: 0.1em;
  overflow: hidden;
  -webkit-transition: 0.5s max-height;
  -o-transition: 0.5s max-height;
  transition: 0.5s max-height;
  max-height: 0px;
}

.catalog {
  padding: 100px 0;
}

.catalog__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.catalog__content-active {
  grid-template-columns: 1fr;
  grid-gap: 0;
}

.catalog__content-active .item__author {
  margin: 0;
}

.catalog__content-active .catalog__item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  border: none;
  border-bottom: 1px solid var(--color-white);
}

.catalog__content-active .catalog__item:last-child {
  border-bottom: none;
}

.catalog__content-active .item__img-bg {
  width: 65px;
  height: 65px;
  padding: 0;
  margin: 0 20px 0 0;
}

.catalog__content-active .item__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.catalog__content-active .item__tags .item__tag {
  margin-right: 20px;
}

.catalog__content-active .item__tag {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.catalog__content-active .item__btn {
  margin-right: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.catalog__content-active .item__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item {
  padding: 15px;
  border: 2px solid var(--color-active);
  position: relative;
}

.item:hover .player-link {
  display: block;
}

.item__img-bg {
  width: 100%;
  height: 270px;
  padding: 30px;
  background-color: var(--color-dark);
  margin-bottom: 10px;
  position: relative;
}

.item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__tags {
  display: none;
}

.item__title {
  letter-spacing: 0.2em;
  margin-bottom: 3px;
}

.item__author {
  font-size: 10px;
  letter-spacing: 0.2em;
  color: #919191;
}

.item__author a:hover {
  color: var(--color-white);
}

.item__btn {
  padding: 6px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid var(--color-active);
}

.item__like {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.item__add {
  margin-right: 10px;
}

.catalog-filter {
  padding: 20px 0;
  background: var(--color-section);
  margin-bottom: 100px;
}

.catalog-filter__item {
  border-top: 1px solid var(--color-bg);
  border-bottom: 1px solid var(--color-bg);
}

.catalog-filter__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.filter-item {
  position: relative;
}

.filter-item__title {
  font-size: 18px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-item__active {
  background-color: var(--color-white);
}

.filter-item__active .filter-item__title {
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: var(--color-bg);
}

.filter-item__active .filter-item__title-icon-active path {
  stroke: var(--color-bg);
}

.filter-item__active .filter-item__content {
  max-height: 200%;
  padding: 15px;
}

.filter-item__content {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background-color: var(--color-white);
}

.filter-item__view-item {
  border: 2px solid var(--color-bg);
  padding: 8px 22px;
  display: grid;
  grid-gap: 4px;
  height: 40px;
  background-color: var(--color-bg);
}

.filter-item__view-item div {
  background-color: var(--color-section);
}

.filter-item__content-view {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.filter-item__view-item-active {
  background-color: var(--color-white);
}

.filter-item__view-item-active div {
  background-color: var(--color-active);
}

.filter-item__view-block {
  grid-template-columns: repeat(4, 1fr);
}

.filter-item__view-stroke {
  grid-template-columns: 4px 1fr;
}

.profile-preview {
  width: 100%;
}

.profile-preview img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__container {
  position: relative;
  top: -100px;
  background-color: var(--color-bg);
  padding: 20px;
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.profile-header__avatar {
  margin-right: 20px;
}

.profile-header__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.profile-header__username {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.profile-header__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-header__statistics-item {
  margin-left: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics-item__icon {
  height: 20px;
  width: auto;
}

.statistics-item__title {
  text-transform: uppercase;
}

.statistics-item__number {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.pofile-section {
  padding: 20px;
  background-color: var(--color-section);
}

.pofile-section__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.profile-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 410px;
  grid-gap: 20px;
}

.profile-about {
  position: relative;
}

.profile-about__title {
  margin-bottom: 40px;
}

.profile-about__item {
  margin-bottom: 20px;
  color: #919191;
  font-weight: 700;
}

.profile-about__item-title {
  color: #f7f7f7;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.settings-user {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-social {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.profile-social__item {
  padding: 15px;
  border: 2px solid #ff3004;
  text-transform: uppercase;
}

.profile-social__item.fill-gray path {
  fill: #919191;
}

.profile-social__item * {
  display: block;
  margin: 0 auto;
}

.profile-social__item:hover {
  background: #303030;
}

.profile-social__youtube:hover {
  color: #ff0000;
}

.profile-social__telegram:hover {
  color: #3390ec;
}

.profile-social__twitter:hover {
  color: #1da1f2;
}

.profile-social__facebook:hover {
  color: #4267b2;
}

.profile-social__instagram:hover {
  background: -o-linear-gradient(184.12deg, #d800b9 7.77%, #ff0100 51.16%, #ffd600 95.47%);
  background: linear-gradient(265.88deg, #d800b9 7.77%, #ff0100 51.16%, #ffd600 95.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.profile-social__spotify:hover {
  color: #00d959;
}

.activity__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.popup-addtrack {
  position: fixed;
  top: -1000%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #303030;
  z-index: 100;
  overflow: auto;
}

.activity {
  position: relative;
}

.popup-addtrack__close {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup-setting {
  position: fixed;
  top: -1000%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #303030;
  z-index: 100;
  overflow: auto;
}

.popup-setting__close {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup-setting__content {
  overflow: auto;
  width: 1000px;
  height: auto;
  background: #f7f7f7;
  padding: 20px;
  z-index: 10;
}

.popup-setting__title {
  color: #303030;
  letter-spacing: 0.4em;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}

.popup-setting__form {
  background: #303030;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 20px;
}

.popup-setting__item label {
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  letter-spacing: 0.4em;
  font-weight: 700;
  font-size: 18px;
}

.popup-setting__input-text {
  background: #3d3d3d;
  padding: 8px 20px;
  width: 100%;
  color: #f7f7f7;
}

.popup-setting__save {
  background: #ff3004;
  padding: 8px 20px;
  font-size: 18px;
  cursor: pointer;
}

.biography__setting,
.name__settings {
  grid-column-start: 1;
  grid-column-end: 3;
}

.biography__setting textarea {
  resize: none;
  height: 300px;
  color: #f7f7f7;
}

.show {
  top: 0;
}

.add-track {
  position: absolute;
  top: 20px;
  right: 20px;
}

.add-track:hover rect {
  fill: #f7f7f7;
}

.cart {
  padding: 100px 0;
}

.cart__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.cart__content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 410px;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__item-cover {
  background: #1c1c1c;
  padding: 10px;
  margin-right: 20px;
}

.cart__item-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 50px;
  max-height: 50px;
}

.cart__item-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cart__item-price {
  margin: 0 10px;
}

.cart__irem-remove {
  cursor: pointer;
  font-size: 0;
}

.cart__section {
  background: #3d3d3d;
  padding: 20px;
}

.cart__summ-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-bottom: 20px;
}

.cart__summ-row {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ff3004;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.checkout {
  background: #1c1c1c;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.player {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.music-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 10px 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  width: 100%;
}

.action-btn {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  cursor: pointer;
  margin: 0 0.5em;
  padding: 0.5em 0.25em;
  color: #f7f7f7;
}

.volume {
  position: relative;
}

.volume:hover .player_slider {
  display: block;
}

.player-link {
  position: absolute;
  bottom: 3px;
  right: 5px;
  display: none;
  cursor: pointer;
}

.music-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.music-info img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-right: 1px solid #ff3004;
}

.music-info h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2em;
  color: #1c1c1c;
}

.music-info .author {
  font-size: 10px;
  letter-spacing: 0.2em;
  color: #919191;
}

.music-info__text {
  padding: 5px 10px;
}

.music-info__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  opacity: 1;
  background: #f7f7f7;
  border: 1px solid #ff3004;
  color: #1c1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-container {
  width: 100%;
  background: #919191;
  border-radius: 0.25em;
  cursor: pointer;
  height: 2px;
}

.progress-range {
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.progress {
  background-color: #f7f7f7;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.player_slider {
  position: absolute;
  bottom: 85px;
  right: -53px;
  height: 52px;
  width: 147px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: 26px 10px;
  background: #303030;
  border: 1px solid #ff3004;
  border-radius: 5px;
  display: none;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

.progress-bar {
  position: relative;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: -3px;
  width: 11px;
  height: 11px;
  background: #ff3004;
  border: 2px solid #f7f7f7;
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  margin-top: -8px;
  background: #1c1c1c;
  border: 1px solid #ff3004;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #ffffff;
}

input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 17px;
  border-radius: 50px;
  background: #fe8daa;
  cursor: pointer;
}

.time {
  color: #fff;
  font-size: 14px;
  padding-right: 0.25em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer {
  background: #1c1c1c;
  padding: 50px 0 100px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
}

.footer__logo {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 17px;
}

.footer__app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__app {
  margin-right: 20px;
}

.footer__app:last-child {
  margin-right: 0;
}

.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 240px;
          flex: 1 1 240px;
}

.footer__nav-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__link {
  font-size: 12px;
  margin-bottom: 15px;
}

.footer__link picture {
  width: 20px;
  margin-right: 5px;
}

.footer__link a {
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__link a:hover {
  opacity: 1;
}

.footer__social-icon {
  display: block;
  max-width: 12px;
  max-height: 12px;
  margin: 0 auto;
}

@media (max-width: 1272px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.webp .preview__bg{ background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#303030)), -webkit-gradient(linear, left top, right top, color-stop(0.55%, #000000), color-stop(49.83%, rgba(0, 0, 0, 0)), color-stop(99.61%, #000000)), url(../img/preview.webp) center/cover no-repeat; }

.webp .preview__bg{ background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #303030 100%), -o-linear-gradient(left, #000000 0.55%, rgba(0, 0, 0, 0) 49.83%, #000000 99.61%), url(../img/preview.webp) center/cover no-repeat; }

.webp .preview__bg{ background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #303030 100%), linear-gradient(90deg, #000000 0.55%, rgba(0, 0, 0, 0) 49.83%, #000000 99.61%), url(../img/preview.webp) center/cover no-repeat; }

.webp .banner{ background: center/cover no-repeat url(../img/banner.webp); }